<div class="wrap wpe-admin">
    <h1>WPEasy Plugins</h1>
    <h2>Active WPEasy Plugins</h2>
    <div class="wpe-plugins-table">
        <table class="table table-striped table-bordered ">
            <thead class="thead-dark">
            <tr>
                <th>Plugin Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for name, detail in plugins %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ detail.description }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>