<table class="table  table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Description</th>
        <th>Shortcode</th>
        <th>Attributes</th>
    </tr>
    </thead>
    <tbody>
    <% for key, s in shortcodes %>
    <tr>
        <td>{{ key }}</td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>

